<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<h1>Signup OdinFacebook</h1>
<p>
  Hello <%= @user.name %>!
  Thank you for creating an account at OdinFacebook!
  Thanks for joining
  Have fun!
</p>
</body>
</html>